/*
!alacritty/
!deadd/
!flameshot/
!logid.cfg
!nvim/
!pavucontrol.ini
!polybar/
!polybar/polybar-scripts/
!scripts/
!.xinitrc
!.Xmodmap
!xmonad/
xmonad/.stack-work/
xmonad/*.o
xmonad/*.hi
xmonad/xmonad-x86_64-linux
xmonad/xmonad-x86_64-linux-tmp
xmonad/xmonad.errors
!.zshrc
!.gitignore
!backgrounds/
